* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: antiquewhite;
width: 100%;
display: flex;
flex-flow: row nowrap;

}
.container>div {
    width:70px;
    height: 70px;
    background-color: chartreuse;
    border: 2px solid gray;
    border-radius: 2px;
    flex-shrink: 0;
}
#item1 {
    order:1;
}